{% extends 'base.html.twig' %}
{% block title %}Sparkline{% endblock %}
{% block description %}This page will render a simple form to upload a file.{% endblock %}
{% block body %}

    <div class="container" align="center">
        <div class="row">
            <div class="col-lg-8">
                <div>
                    <h1 class="btn btn-primary btn-lg btn-block"  >Sparkline</h1>
                </div>
                </br> </br>

                {{ form_start(form, { attr: { 'accept-charset' : 'utf-8' }}) }}
                <div class="form-group">
                    {{ form_label(form.upload_file1) }}
                    {{ form_widget(form.upload_file1) }}
                    {{ form_errors(form.upload_file1) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.upload_file2) }}
                    {{ form_widget(form.upload_file2) }}
                    {{ form_errors(form.upload_file2) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.send, {'label': "Upload this file", 'attr' : { 'class': 'btn btn-primary' }}) }}
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}