{% extends 'base.html.twig' %}

{% block title %}Sparkline FileMerger{% endblock %}

{% block body %}
    <div class="container-fluid" align="center">
    <div>
        <h1 class="btn btn-success" wfd-id="652">Sparkline</h1>
    </div>
    </br>
  <form action="{{ path('do-upload') }}" method="post" enctype="multipart/form-data">

        <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />

        <div >
            <label for="myfile">File to upload CSV 1:</label>
            <input type="file" name="myfile" id="myfile">
        </div>
      <br/>

         <div>
            <label for="myfile">File to upload CSV 2:</label>
            <input type="file" name="myfile" id="myfile">
        </div>
       <br/>
       <br/>

        <button type="submit">Envoyer</button>


  </form>
    </div>
{% endblock %}