<!DOCTYPE html>
    <html lang="fr">
        <head>
             <meta charset="UTF-8">
             <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
             <title>{% block title %}Bienvenue !{% endblock %}</title>
                <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
                <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css" />
                <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" />
                <link rel="stylesheet" href="style.css" />


        </head>
        <body class="is-preload">
            <div id="page-wrapper">
                 {% block body %}{% endblock %}
                 {% block footer %}
                 <section id="footer">
                     <div class="inner">
                         <ul class="copyright">
                             <li>&copy; Untitled Inc. All rights reserved.</li>
                             <li>Source du code: <a href="https://gitlab.com/Muthuvel15/sparkline">GitLab</a></li>
                         </ul>
                     </div>
                 </section>
                 {% endblock %}
            </div>
        {% block javascripts %}

            <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
            <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css" />
            <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" />

            <link rel="stylesheet" href="style.css" />
        {% endblock %}
        </body>
    </html>
